<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Test paramater capture</title>
</head>
<body>
{% comment %}
this section will take the paramaters Year, Month, Day, and print a title accordingly
something like, 'Year Archive: 2007', 'Month Archive: 2000/04' or 'Post from: 2006/03/9'
{% endcomment %}

{% if day %}
Post from: {{ year }}&#47;{{ month }}&#47;{{ day }}
{% else %}{% if month %}
Month Archive: {{ year }}&#47;{{ month }}
{% else %}
Year Archive: {{ year }}
{% endif %}{% endif %}
</body>
</html>
